/*********** FONTS *****************/
/* Google font */
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300');
/************************************/

/******** Views transition **********/
body.ov {
  overflow: hidden;
}
#landscape {
     background-image: url(../media/cover.png), url(../media/logocover.png);
     background-blend-mode: multiply;
     background-position: center center;
     background-repeat: repeat;
     background-size: contain;
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       height: 100vh;
       z-index: 9;
       padding: 0;
       margin: 0;
       transition: all 0.7s ease-out;
       -webkit-transition: all 0.7s ease-out;
       -moz-transition: all 0.7s ease-out;
       -ms-transition: all 0.7s ease-out;
       -o-transition: all 0.7s ease-out;
}
#main {
  position: absolute;
  top: 100vh;
  left: 0;
  z-index: 8;
  width: 100%;
  height: auto;
  background: white;
  transition: all 0.7s ease-out;
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
}
#landscape.hidden {
  opacity: 0;
  z-index: 8;
}
#main.showed {
  top: 0;
}
/************************************/

/***** Custom styles ****************/
#img-brand {
  cursor: pointer;
}
#landscape .btn-welcome {
     margin-bottom: 20%;
}
#call-action {
     background-image: url(../media/btn.png);
     background-position: center center;
     background-size: contain;
     background-repeat: no-repeat;
     position: relative;
     color: #fff;
     padding: 1em 2em;
     font-size: 1.24em;
     font-family: 'Merriweather', serif;
     font-weight: 100;
     letter-spacing: 1px;
     text-transform: uppercase;
     cursor: pointer;
}
#main header {
  padding: 2em;
}
#img-brand {
  max-width: 300px;
  height: auto;
}
nav.menu-qincha .nav {
  position: relative;
}
nav.menu-qincha .nav::before, nav.menu-qincha .nav::after {
  content: ' ';
  background-image: url(../media/linea.svg);
  background-repeat: repeat;
  background-position: left;
  background-size: cover;
  font-family: 'Merriweather', sans-serif;
  font-weight: bold;
  letter-spacing: 6px;
  width: 60%;
  height: 10px;
  text-align: center;
  position: absolute;
  left: 25%;
}
nav.menu-qincha .nav::before{
  top: 0px;
}
nav.menu-qincha .nav::after {
  bottom: -2px;
}
nav.menu-qincha .nav .nav-item {
  margin: auto 1em;
  padding: 0.5em 1em;
}
nav.menu-qincha .nav .nav-item .nav-link {
  color: #828385;
  font-family: 'Merriweather', serif;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1.2em;
  border-bottom: 3px solid #b18862;
}
nav.menu-qincha .nav .nav-item .nav-link:hover {
  color: #b18862;
}
nav.menu-qincha .nav .nav-item .nav-link.active {
  color: #fff;
  border-radius: 10px;
  background: #b18862;
}
.textual {
  font-family: 'Droid Serif', serif;
  font-weight: 400;
}
.textual {
  font-family: 'Lato', sans-serif;
}
.textual b {
  font-family: 'Droid Serif', serif;
  font-weight: bold;
}
.text-qincha {
  font-family: 'Merriweather', monospace;
  font-size: 1.2em;
}
#img-rombo {
  height: 45px;
  width: 100%;
}
#carouselhome {
  position: relative;
  margin-bottom: 3em;
}
#carouselhome .zocalo {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #000;
  background-image: url(../media/footer-slide.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.title {
  font-family: 'Merriweather', sans-serif;
  font-weight: 400;
  display: inline-block;
  width: auto;
  text-transform: uppercase;
  margin-bottom: 1.5em;
}
.media-grid {
  width: 100%;
  text-align: justify;
}
.media-grid *[class^='col-'] {
  padding: 0 0.1em;
  margin: 0.1em auto;
}
.contact ul li {
  margin-bottom: .5em;
}
.contact ul li i {
  width: 50px;
  height: 30px;
  display: inline-block;
  color: #424242;
  font-size: 1.7em;
  text-align: center;
  padding: 0em 0.4em;
  margin-right: .5em;
}
.btn-outline-qincha {
  border-radius: 0px;
  font-family: 'Merriweather', sans-serif;
  font-size: 1em;
  letter-spacing: 3px;
  border-width: 2px;
  border-color: #b18862;
  color: #b18862;
  background: #fff;
  cursor: pointer;
}
.btn-outline-qincha:hover {
  background: #b18862;
  color: #fff;
}
.input-qincha {
  border-radius: 0px;
  border-color: #212121;
  font-family: 'Merriweather', sans-serif;
  border-width: 2px;
}
.input-qincha::-webkit-input-placeholder {
  font-size: .9em;
  font-weight: lighter;
  font-family: 'Merriweather', sans-serif;
  letter-spacing: 4px;
  color: rgba(0, 0, 0, 0.35);
}
.social-links {
  text-align: justify;
}
.social-links .social-links-item {
  font-size: 2.2em;
  padding: 0em .3em;
}
.social-links .social-links-item a {
  margin: 0;
  padding: 0;
}
.social-links .social-links-item a img{
  height: 40px;
  width: auto;
}
.c-facebook {
  color: #0D47A1 !important;
}
.c-tripadvisor {
  color: #4CAF50 !important;
}
.filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
#map {
  height: 400px;
  width: 100%;
}
#feed-insta {
  margin: auto;
}
#toggleMenu {
  width: 100%;
  padding: 0em 0em 0em 1em;
  position: relative;
  font-family: 'Droid Serif', serif;
  font-weight: 400;
}
#toggleMenu ul li a {
  color: #424242;
  font-family: 'Merriweather', monospace;
  font-size: 1.3em;
  letter-spacing: 2px;
}
#toggleMenu::before, #toggleMenu::after {
  content: ' ';
  background-image: url(../media/linea.svg);
  background-repeat: repeat;
  background-position: left;
  background-size: cover;
  width: 50%;
  height: 10px;
  font-family: 'Merriweather', sans-serif;
  font-weight: bold;
  letter-spacing: 6px;
  text-align: left;
  position: absolute;
  left: 25%;
}
#toggleMenu::before{
  top: -5px;
}
#toggleMenu::after {
  bottom: -15px;
}
footer {
  padding-top: 3em;
  padding-bottom: 5em;
}
/******* feed insta *******/
.feed-insta-item {
  cursor: pointer;
  transition: all 0.5s ease-out;
  margin: 0.1em 0em !important;
}
.feed-insta-item.col-12 {
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(189, 189, 189, 0.7);
  overflow: hidden;
  padding: 0 !important;
}
.caption-feed {
  position: relative;
  font-family: 'Lato', sans-serif;
  padding: 1em .7em;
  text-align: center;
  font-size: .9em;
}
.caption-feed-likes, .caption-feed-link{
  position: absolute;
  width: auto;
  top: -40px;
  padding: .2em .5em;
  text-align: center;
  font-size: 1.5em;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}
.caption-feed-likes {
  left: 0;
  color: #fff;
}
.caption-feed-likes i {
  margin-right: .5em;
}
.caption-feed-link {
  right: 0;
}
.follow {
  padding: 1em;
  text-align: center;
}
.follow a i {
  background: linear-gradient(-35deg, rgba(237,215,128,1) 0%, rgba(247,159,52,1) 16%, rgba(247,120,39,1) 20%, rgba(246,41,12,1) 28%, rgba(246,41,12,0.99) 39%, rgba(245,12,144,0.98) 55%, rgba(245,12,144,0.97) 70%, rgba(183,39,170,0.97) 79%, rgba(39,103,230,0.97) 100%);
  -webkit-background: linear-gradient(-35deg, rgba(237,215,128,1) 0%, rgba(247,159,52,1) 16%, rgba(247,120,39,1) 20%, rgba(246,41,12,1) 28%, rgba(246,41,12,0.99) 39%, rgba(245,12,144,0.98) 55%, rgba(245,12,144,0.97) 70%, rgba(183,39,170,0.97) 79%, rgba(39,103,230,0.97) 100%);
  -moz-background: linear-gradient(-35deg, rgba(237,215,128,1) 0%, rgba(247,159,52,1) 16%, rgba(247,120,39,1) 20%, rgba(246,41,12,1) 28%, rgba(246,41,12,0.99) 39%, rgba(245,12,144,0.98) 55%, rgba(245,12,144,0.97) 70%, rgba(183,39,170,0.97) 79%, rgba(39,103,230,0.97) 100%);
  -ms-background: linear-gradient(-35deg, rgba(237,215,128,1) 0%, rgba(247,159,52,1) 16%, rgba(247,120,39,1) 20%, rgba(246,41,12,1) 28%, rgba(246,41,12,0.99) 39%, rgba(245,12,144,0.98) 55%, rgba(245,12,144,0.97) 70%, rgba(183,39,170,0.97) 79%, rgba(39,103,230,0.97) 100%);
  -o-background: linear-gradient(-35deg, rgba(237,215,128,1) 0%, rgba(247,159,52,1) 16%, rgba(247,120,39,1) 20%, rgba(246,41,12,1) 28%, rgba(246,41,12,0.99) 39%, rgba(245,12,144,0.98) 55%, rgba(245,12,144,0.97) 70%, rgba(183,39,170,0.97) 79%, rgba(39,103,230,0.97) 100%);
  color: #fff;
  padding: 0.1em;
  font-size: 1.6em;
  border-radius: 8px;
}
.follow a {
  color: #424242;
  font-family: 'Merriweather', sans-serif;
  letter-spacing: 1px;
}
.bg-insta {
  background: linear-gradient(-35deg, rgba(237,215,128,1) 0%, rgba(247,159,52,1) 16%, rgba(247,120,39,1) 20%, rgba(246,41,12,1) 28%, rgba(246,41,12,0.99) 39%, rgba(245,12,144,0.98) 55%, rgba(245,12,144,0.97) 70%, rgba(183,39,170,0.97) 79%, rgba(39,103,230,0.97) 100%);
  -webkit-background: linear-gradient(-35deg, rgba(237,215,128,1) 0%, rgba(247,159,52,1) 16%, rgba(247,120,39,1) 20%, rgba(246,41,12,1) 28%, rgba(246,41,12,0.99) 39%, rgba(245,12,144,0.98) 55%, rgba(245,12,144,0.97) 70%, rgba(183,39,170,0.97) 79%, rgba(39,103,230,0.97) 100%);
  -moz-background: linear-gradient(-35deg, rgba(237,215,128,1) 0%, rgba(247,159,52,1) 16%, rgba(247,120,39,1) 20%, rgba(246,41,12,1) 28%, rgba(246,41,12,0.99) 39%, rgba(245,12,144,0.98) 55%, rgba(245,12,144,0.97) 70%, rgba(183,39,170,0.97) 79%, rgba(39,103,230,0.97) 100%);
  -ms-background: linear-gradient(-35deg, rgba(237,215,128,1) 0%, rgba(247,159,52,1) 16%, rgba(247,120,39,1) 20%, rgba(246,41,12,1) 28%, rgba(246,41,12,0.99) 39%, rgba(245,12,144,0.98) 55%, rgba(245,12,144,0.97) 70%, rgba(183,39,170,0.97) 79%, rgba(39,103,230,0.97) 100%);
  -o-background: linear-gradient(-35deg, rgba(237,215,128,1) 0%, rgba(247,159,52,1) 16%, rgba(247,120,39,1) 20%, rgba(246,41,12,1) 28%, rgba(246,41,12,0.99) 39%, rgba(245,12,144,0.98) 55%, rgba(245,12,144,0.97) 70%, rgba(183,39,170,0.97) 79%, rgba(39,103,230,0.97) 100%);
}

.tooltip {
  font-family: 'Lato', sans-serif;
  font-size: .9em;
}
.qincha-text {
  font-family: 'Merriweather', sans-serif;
  font-weight: lighter;
  font-size: .9em;
}
h4.qincha-text {
   font-size: 1.3em;
}
/*** Hash tags **/
.highlight {
    color: #2196F3;
    font-weight: bold;
}

/************ SUSCRIPCIONES *********************/
#logReport {
  height: 100vh;
  background: #000;
}
#card-log .card-header {
  font-family: 'Merriweather', sans-serif;
  font-size: 1.4em;
  letter-spacing: 1px;
}
#card-log .card-header img {
  height: 50px;
}
#current-date {
  font-family: 'Lato', sans-serif;
}
/********* view general *********/
header {
  padding: 2em;
}
.gallery-content {
  transition: all 0.6s ease-in;
  -webkit-transition: all 0.6s ease-in;
  -moz-transition: all 0.6s ease-in;
  -ms-transition: all 0.6s ease-in;
  -o-transition: all 0.6s ease-in;
}
.gallery-content .gallery-item {
  border: 1px solid #fff;
  height: auto;
  padding: 0 !important;
  margin: 0;
  transition: all 0.6s ease-in;
  -webkit-transition: all 0.6s ease-in;
  -moz-transition: all 0.6s ease-in;
  -ms-transition: all 0.6s ease-in;
  -o-transition: all 0.6s ease-in;
}
.gallery-content .gallery-item img {
  margin: 0;
  width: 100%;
  transition: all 0.6s ease-in;
  -webkit-transition: all 0.6s ease-in;
  -moz-transition: all 0.6s ease-in;
  -ms-transition: all 0.6s ease-in;
  -o-transition: all 0.6s ease-in;
}
.text-higher {
  font-size: 2.6em;
}
.lead {
  font-size: 1.1em;
}
#hashtag h1 {
  font-family: 'Roboto Slab';
  text-transform: uppercase;
  opacity: 0.3;
  filter: blur(.019em) grayscale(90%);
}
/******** RESPONSIVE ********/
@media (max-width: 426px) {
  #img-brand {
    width: 80%;
  }
  #main header {
    padding-bottom: .5em !important;
  }
  #landscape .brand img {
    width: 75%;
  }
  #landscape .call-action .btn-call {
    padding: 0.3em;
    font-size: 1em;
  }
  #toggleMenu ul li a {
    font-size: 1em !important;
  }
  #toggleMenu::before, #toggleMenu::after {
    content: ' ';
    background-image: url(../media/linea.svg);
    background-repeat: repeat;
    background-position: left;
    background-size: cover;
    width: 100%;
    height: 10px;
    left: 0;
  }
  .textual {
    font-size: 1em;
  }
  .textual b {
    font-size: 1em;
  }
  footer {
    padding-top: 1em;
    padding-bottom: 1em;
  }
}
@media (max-width: 376px) {
  #toggleMenu::before, #toggleMenu::after {
    content: ' ';
    background-image: url(../media/linea.svg);
    background-repeat: repeat;
    background-position: left;
    background-size: cover;
    width: 100%;
    height: 10px;
    left: 0;
  }
}
@media (max-width: 360px) {
  #landscape .bg-land {
    width: auto;
  }
  #call-action {
    font-size: .8em !important;
  }
  #img-brand {
    width: 80%;
  }
  #toggleMenu ul li a {
    font-size: 1em !important;
  }
  #toggleMenu::before, #toggleMenu::after {
    content: ' ';
    background-image: url(../media/linea.svg);
    background-repeat: repeat;
    background-position: left;
    background-size: cover;
    width: 100%;
    height: 10px;
    left: 0;
  }
  .textual {
    font-size: .9em;
  }
  .textual b {
    font-size: .9em;
  }
}
@media (max-width: 321px) {
  #toggleMenu::before, #toggleMenu::after {
    content: ' ';
    background-image: url(../media/linea.svg);
    background-repeat: repeat;
    background-position: left;
    background-size: cover;
    width: 100%;
    height: 10px;
    left: 0;
  }
}

#process-msg, #success-msg, #error-msg, #process-access, #success-access {
   display: none;
}
#reservaform {
   transition: all .2s ease-in;
   -o-transition: all .2s ease-in;
   -ms-transition: all .2s ease-in;
   -moz-transition: all .2s ease-in;
   -webkit-transition: all .2s ease-in;
}
#access-content {
   transition: all .2s ease-in;
   -o-transition: all .2s ease-in;
   -ms-transition: all .2s ease-in;
   -moz-transition: all .2s ease-in;
   -webkit-transition: all .2s ease-in;
}
.mnry {
     -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
     column-count: 3;
     -webkit-column-gap: 2px; /* Chrome, Safari, Opera */
    -moz-column-gap: 2px; /* Firefox */
     column-gap: 2px;
     -webkit-column-rule: 0px; /* Chrome, Safari, Opera */
    -moz-column-rule: 0px; /* Firefox */
     column-rule: 0px;
}
.mnry > img {
     margin-bottom: 2px;
}

@media (max-width: 425px) {
     #landscape {
          background-repeat: no-repeat;
          background-size: cover;
     }
     #call-action {
          font-size: .9em;
     }
}
